@font-face {
  font-family: 'Roboto';
  src: url("../../fonts/Roboto-Regular.woff2") format("woff2"), url("../../fonts/Roboto-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url("../../fonts/Roboto-Medium.woff2") format("woff2"), url("../../fonts/Roboto-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url("../../fonts/Roboto-Bold.woff2") format("woff2"), url("../../fonts/Roboto-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

* {
  margin: 0%;
  padding: 0%;
  font-family: 'Roboto','Courier New', Courier, monospace;
}

.body {
  background-color: #E5E5E5;
}

.pad-0 {
  padding-left: 0;
  padding-right: 0;
  margin-left: 0;
  margin-right: 0;
  --bs-gutter-x: 30px;
  --bs-gutter-y: 0px;
}

.header {
  background-color: white;
  width: 100vw;
  z-index: 100;
  position: fixed;
  top: 0;
}

.header__menu {
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  margin-right: 40px;
}

.header--active .nav {
  visibility: visible;
  left: 0;
  opacity: 1;
}

.burger {
  margin-left: 15px;
  background: transparent;
  border: none;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  transform: scale(0.8) translateX(-4px);
  transition: all 0.2s ease-in-out;
}

.burger__left {
  background: #506690;
  width: 20px;
  height: 4px;
  border-radius: 4px;
  transition: all 0.2s ease-in-out;
}

.burger__left::before, .burger__left::after {
  content: '';
  position: absolute;
  width: 20px;
  height: 4px;
  background: #506690;
  border-radius: 4px;
  transition: all 0.2s ease-in-out;
  margin-left: -10px;
}

.burger__left::before {
  transform: translateY(-10px);
}

.burger__left::after {
  transform: translateY(10px);
}

.burger__right {
  background: #506690;
  width: 20px;
  height: 4px;
  border-radius: 4px;
  transition: all 0.2s ease-in-out;
  margin-left: -5px;
  align-content: center;
}

.burger__right::before, .burger__right::after {
  content: '';
  position: absolute;
  width: 20px;
  height: 4px;
  background: #506690;
  border-radius: 4px;
  transition: all 0.2s ease-in-out;
  margin-left: -10px;
}

.burger__right::before {
  transform: translateY(-10px);
}

.burger__right::after {
  transform: translateY(10px);
}

.nav {
  background-color: white;
  border-top: 2px solid #335EEA;
  visibility: hidden;
  opacity: 0;
  list-style: none;
  display: flex;
  position: absolute;
  left: -100%;
  top: 80px;
  width: 100%;
  height: 100vh;
  transition: all 0.3s ease-in-out;
}

.nav__row {
  justify-content: center;
}

.nav__ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  line-height: 40px;
  margin-top: 30px;
}

.nav__a {
  text-decoration: none;
  color: #506690;
  font-size: 17px;
  font-weight: 900;
}

.nav__link {
  width: 130px;
  text-align: center;
  background-color: #E5E5E5;
  box-shadow: 0px 0px 2px #E5E5E5;
  border-radius: 4px;
}

.form {
  margin-top: 30px;
  width: 100%;
  position: relative;
}

.form__input {
  width: 56%;
  height: 60px;
  padding: 0% 32% 0% 12%;
  border: 1px solid #E5E5E5;
  border-radius: 4px;
  outline: none;
  font-size: 17px;
}

.form__input::placeholder {
  font-weight: 900;
  font-size: 17px;
  color: #161C2D;
}

.form__results {
  display: none;
}

.form__icon {
  position: absolute;
  transform: translate(12px, 22px);
}

.form__button {
  position: absolute;
  top: 10px;
  right: 2%;
  border: none;
  border-radius: 6px;
  background-color: #335EEA;
  color: white;
  width: 74px;
  height: 42px;
  font-size: 15px;
  font-weight: 900;
}

@media only screen and (min-width: 500px) {
  .form__input {
    width: 70%;
    padding: 0% 22% 0% 8%;
  }
}

@media only screen and (min-width: 576px) {
  .burger {
    margin-left: 0;
  }
  .header__logo {
    margin-right: 0;
  }
}

@media only screen and (min-width: 1200px) {
  .header__menu {
    position: relative;
  }
  .burger {
    display: none;
  }
  .nav {
    visibility: visible;
    border-top: none;
    position: sticky;
    opacity: 1;
    height: fit-content;
    left: 0%;
    top: 0%;
    width: 90%;
    margin-left: 20px;
    margin-right: auto;
  }
  .nav__row {
    justify-content: left;
  }
  .nav__ul {
    line-height: 25px;
    justify-content: left;
  }
  .nav__li:nth-child(1) .nav__link {
    margin-left: 100px;
  }
  .nav__link {
    background-color: transparent;
    box-shadow: none;
    margin-bottom: 25px;
  }
  .form {
    position: absolute;
    transform: translateX(-11.5%);
    margin-top: 56px;
  }
  .form__input {
    width: 90.8%;
    padding: 0% 11% 0% 5%;
    box-shadow: 0px 8px 24px rgba(22, 27, 45, 0.1);
  }
  .form__results {
    display: block;
    position: absolute;
    right: 5%;
    top: 34.5%;
  }
  .form__results .results {
    color: #869AB8;
    font-weight: 900;
    font-size: 12px;
    letter-spacing: 2px;
  }
  .form__icon {
    transform: translate(23px, 21px);
  }
  .form__button {
    width: 84px;
    right: -5.7%;
  }
}

@media only screen and (min-width: 1400px) {
  .form {
    transform: translateX(-10.3%);
  }
  .form__input {
    width: 91.4%;
    padding: 0% 11% 0% 4.2%;
    box-shadow: 0px 8px 24px rgba(22, 27, 45, 0.1);
  }
  .form__results {
    right: 3.5%;
  }
}

.col-wrap {
  width: auto;
}

.cards-container {
  margin-top: 90px;
}

.cards-container__wrapper {
  width: auto;
}

.cards-container .card-wrapper {
  width: auto;
  display: flex;
  justify-content: center;
}

.card {
  height: 390px;
  box-shadow: 0px 24px 64px rgba(22, 27, 45, 0.05);
  margin: 0px 10px 33px 10px;
  border-radius: 8px;
  background-color: white;
}

.card-top {
  position: relative;
  height: 205.59px;
  background-image: url(https://placeimg.com/300/150);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 8px 8px 0px 0px;
  clip-path: polygon(82% 91%, 64% 95%, 46% 97%, 30% 98%, 16% 98%, 0 97%, 0 0, 100% 0, 100% 85%);
  height: 45%;
}

.card-top__star {
  position: absolute;
  top: 16px;
  right: 13px;
  cursor: pointer;
}

.card-top__price {
  position: absolute;
  top: 18px;
  left: 13px;
  padding: 5px;
  border-radius: 20px;
  width: 80px;
  height: 21px;
  text-align: center;
  line-height: 23px;
  color: white;
  font-size: 12px;
  font-weight: 900;
  background-color: tomato;
}

.card-bottom {
  padding: 0px 40px 0px 25.71px;
  margin-top: 31.41px;
  height: 150px;
}

.card-bottom__title {
  color: #161C2D;
  font-style: normal;
  font-size: 18px;
  font-weight: 900;
  line-height: 28px;
  letter-spacing: -0.01em;
}

.card-bottom__text {
  margin-top: 8px;
  color: #6B7C93;
  font-style: normal;
  font-size: 13px;
  font-weight: 400;
  line-height: 24,37px;
  height: 130px;
}

.card-footer {
  margin-top: 20px;
  display: flex;
  align-items: center;
  position: relative;
  bottom: 65px;
}

.card-footer__author {
  position: absolute;
  left: 0;
  display: flex;
  align-items: center;
}

.card-footer__avatar {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-image: url(https://placeimg.com/300/150);
}

.card-footer__name {
  margin-left: 10px;
  color: #6B7C93;
  font-style: normal;
  font-weight: 900;
  font-size: 10px;
  line-height: 14px;
  letter-spacing: 0.07em;
  text-transform: uppercase;
}

.card-footer__date {
  position: absolute;
  right: 0;
  color: #6B7C93;
  font-style: normal;
  font-weight: 900;
  font-size: 10px;
  line-height: 14px;
  text-align: center;
  letter-spacing: 0.07em;
  text-transform: uppercase;
}

.card-footer::before {
  content: '';
  width: 100%;
  height: 2px;
  background: #f0f0f0;
  transform: translateY(-30px);
}

.not-found {
  height: fit-content;
  position: relative;
}

.not-found__text {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.not-found__tittle {
  font-style: normal;
  font-weight: 900;
  font-size: 52px;
  line-height: 61px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: -0.01em;
  margin-bottom: 6px;
}

.not-found__info {
  color: #6B7C93;
  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 17px;
  line-height: 26px;
  display: flex;
  align-items: center;
  text-align: center;
  margin-bottom: 20px;
}

.not-found__button-container {
  width: fit-content;
}

.not-found__button {
  width: 153px;
  height: 50px;
  background-color: #335EEA;
  color: white;
  border: none;
  border-radius: 6px;
  font-style: normal;
  font-weight: 900;
  font-size: 17px;
  line-height: 26px;
  cursor: pointer;
}

.not-found__image {
  margin-top: 20px;
  height: 200px;
  background-image: url(../img/notfound.png);
  background-repeat: no-repeat;
  background-size: 260px;
  background-position-x: center;
}

.more-info__row {
  display: flex;
  justify-content: center;
}

.more-info__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.more-info__title {
  width: 99.4%;
  font-style: normal;
  font-weight: 900;
  font-size: 33px;
  line-height: 53px;
  text-align: center;
  letter-spacing: -0.02em;
  color: #161C2D;
}

.more-info__summary {
  margin-top: 23px;
  font-style: normal;
  font-weight: 900;
  font-size: 17px;
  line-height: 32px;
  text-align: center;
  color: #506690;
}

.more-info__user-container {
  width: 98%;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.more-info__user-container__data {
  display: flex;
  align-items: center;
}

.more-info__user-container__data__avatar {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  margin-right: 12px;
  background-image: url(https://www.placeimg.com/36/36);
}

.more-info__user-container__data__data {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.more-info__user-container__data__name {
  font-style: normal;
  font-weight: 900;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.07em;
  text-transform: uppercase;
  color: #161C2D;
}

.more-info__user-container__data__publish, .more-info__user-container__data__date {
  font-style: normal;
  font-weight: 900;
  font-size: 9px;
  line-height: 14px;
  color: #506690;
  opacity: 0.7;
}

.more-info__user-container__social {
  margin-top: 20px;
  width: 160px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.more-info__user-container__social__share {
  font-style: normal;
  font-weight: 900;
  font-size: 12px;
  line-height: 14px;
  color: #869AB8;
}

.more-info__image {
  width: 98%;
  height: 395px;
  margin-top: 45px;
  border-radius: 5px;
  background-image: url(https://placeimg.com/680/395);
  background-repeat: no-repeat;
  background-size: cover;
}

.more-info__caption {
  margin-top: 15px;
  font-style: normal;
  font-weight: 900;
  font-size: 15px;
  line-height: 23px;
  color: #869AB8;
}

.more-info__paragraph {
  width: 98%;
  margin-top: 36px;
  margin-bottom: 50px;
  font-style: normal;
  font-weight: 900;
  font-size: 17px;
  line-height: 26px;
  color: #161C2D;
}

@media only screen and (min-width: 500px) {
  .more-info__title {
    font-size: 43px;
  }
  .more-info__summary {
    font-size: 21px;
  }
  .more-info__user-container {
    flex-direction: row;
    margin-top: 65px;
  }
  .more-info__user-container__data__name {
    font-size: 12px;
  }
  .more-info__user-container__data__publish, .more-info__user-container__data__date {
    font-size: 12px;
  }
  .more-info__user-container__social {
    margin-top: 0;
  }
  .more-info__user-container__social__share {
    font-size: 12px;
  }
  .more-info__image {
    margin-top: 75px;
  }
  .more-info__caption {
    font-size: 15px;
  }
  .more-info__paragraph {
    font-size: 17px;
    margin-top: 66px;
  }
}

@media only screen and (min-width: 768px) {
  .card:nth-child(odd) {
    margin-right: 50px;
  }
  .card {
    height: 490px;
    box-shadow: 0px 24px 64px rgba(22, 27, 45, 0.05);
    margin: 20px 10px 33px 10px;
    border-radius: 8px;
    background-color: white;
  }
  .card-top {
    position: relative;
    height: 205.59px;
    background-image: url(https://placeimg.com/300/150);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 8px 8px 0px 0px;
    clip-path: polygon(82% 91%, 64% 95%, 46% 97%, 30% 98%, 16% 98%, 0 97%, 0 0, 100% 0, 100% 85%);
    height: 45%;
  }
  .card-top__star {
    position: absolute;
    top: 16px;
    right: 13px;
    cursor: pointer;
  }
  .card-top__price {
    position: absolute;
    top: 18px;
    left: 13px;
    padding: 5px;
    border-radius: 20px;
    width: 80px;
    height: 21px;
    text-align: center;
    line-height: 23px;
    color: white;
    font-size: 12px;
    font-weight: 900;
    background-color: tomato;
  }
  .card-bottom {
    padding: 0px 40px 0px 25.71px;
    margin-top: 31.41px;
    height: 150px;
  }
  .card-bottom__title {
    color: #161C2D;
    font-style: normal;
    font-size: 21px;
    font-weight: 900;
    line-height: 28px;
    letter-spacing: -0.01em;
  }
  .card-bottom__text {
    margin-top: 8px;
    color: #6B7C93;
    font-style: normal;
    font-size: 16px;
    font-weight: 400;
    line-height: 24,37px;
    height: 130px;
  }
  .card-footer {
    margin-top: 60px;
    display: flex;
    align-items: center;
    position: relative;
    bottom: 65px;
  }
  .card-footer__author {
    position: absolute;
    left: 0;
    display: flex;
    align-items: center;
  }
  .card-footer__avatar {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-image: url(https://placeimg.com/300/150);
  }
  .card-footer__name {
    margin-left: 10px;
    color: #6B7C93;
    font-style: normal;
    font-weight: 900;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.07em;
    text-transform: uppercase;
  }
  .card-footer__date {
    position: absolute;
    right: 0;
    color: #6B7C93;
    font-style: normal;
    font-weight: 900;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    letter-spacing: 0.07em;
    text-transform: uppercase;
  }
  .card-footer::before {
    content: '';
    width: 100%;
    height: 2px;
    background: #f0f0f0;
    transform: translateY(-35px);
  }
}

@media only screen and (min-width: 1200px) {
  .cards-container {
    margin-top: 200px;
  }
  .cards-container .card-wrapper {
    justify-content: space-between;
  }
  .card {
    width: 29%;
    margin-left: 0;
  }
  .card:nth-child(odd) {
    margin-right: 0;
  }
  .not-found {
    height: 563px;
  }
  .not-found__text {
    position: absolute;
    margin-top: 160px;
    width: fit-content;
    right: 65%;
    transform: translateY(50%);
  }
  .not-found__info {
    width: 300px;
  }
  .not-found__image {
    position: absolute;
    margin-top: 160px;
    width: 590px;
    height: 380px;
    background-size: 590px;
    right: 0;
  }
}
