
.col-wrap {
  width: auto;
}

.cards-container {
  margin-top: 90px;
  &__wrapper {
    width: auto;
  }
  .card-wrapper {
    width: auto;
    display: flex;
    justify-content: center;
  }
}

.card {
  height: 390px;
  box-shadow: 0px 24px 64px rgba(22, 27, 45, 0.05);
  margin: 0px 10px 33px 10px;
  border-radius: 8px;
  background-color: white;
}

.card-top {
  position: relative;
  height: 205.59px;
  background-image: url(https://placeimg.com/300/150);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 8px 8px 0px 0px;
  clip-path: polygon(82% 91%, 64% 95%, 46% 97%, 30% 98%, 16% 98%, 0 97%, 0 0, 100% 0, 100% 85%);
  height: 45%;
  &__star {
    position: absolute;
    top: 16px;
    right: 13px;
    cursor: pointer;
  }
  &__price {
    position: absolute;
    top: 18px;
    left: 13px;
    padding: 5px;
    border-radius: 20px;
    width: 80px;
    height: 21px;
    text-align: center;
    line-height: 23px;
    color: white;
    font-size: 12px;
    font-weight: 900;
    background-color: tomato;
  }
}

.card-bottom {
  padding: 0px 40px 0px 25.71px;
  margin-top: 31.41px;
  height: 150px;
  &__title {
    color: $black;
    font-style: normal;
    font-size: 18px;
    font-weight: 900;
    line-height: 28px;
    letter-spacing: -0.01em;
  }
  &__text {
    margin-top: 8px;
    color: $gray-650;
    font-style: normal;
    font-size: 13px;
    font-weight: 400;
    line-height: 24,37px;
    height: 130px;
  }
}

.card-footer {
  margin-top: 20px;
  display: flex;
  align-items: center;
  position: relative;
  bottom: 65px;
  &__author {
    position: absolute;
    left: 0;
    display: flex;
    align-items: center;
  }
  &__avatar {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-image: url(https://placeimg.com/30/30);
    background-repeat: none;
  }
  &__name {
    margin-left: 10px;
    color: $gray-650;
    font-style: normal;
    font-weight: 900;
    font-size: 10px;
    line-height: 14px;
    letter-spacing: 0.07em;
    text-transform: uppercase;
  }
  &__date {
    position: absolute;
    right: 0;
    color: $gray-650;
    font-style: normal;
    font-weight: 900;
    font-size: 10px;
    line-height: 14px;
    text-align: center;
    letter-spacing: 0.07em;
    text-transform: uppercase;
  }
  &::before {
    content: '';
    width: 100%;
    height: 2px;
    background: rgb(240, 240, 240);
    transform: translateY(-30px);
  }
}

.not-found {
  height: fit-content;
  position: relative;
  margin-top: 0px;
  margin-bottom: 50px;
  &__text {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__tittle {
    font-style: normal;
    font-weight: 900;
    font-size: 52px;
    line-height: 61px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -0.01em;
    margin-bottom: 6px;
    color: $black-blue;
  }
  &__info {
    color: $gray-650;
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 17px;
    line-height: 26px;
    display: flex;
    align-items: center;
    text-align: center;
    margin-bottom: 20px;
  }
  &__button-container {
    width: fit-content;
  }
  &__button {
    width: 153px;
    height: 50px;
    background-color: $primary;
    color: white;
    border: none;
    border-radius: 6px;
    font-style: normal;
    font-weight: 900;
    font-size: 17px;
    line-height: 26px;
    cursor: pointer;
  }
  &__image {
    margin-top: 20px;
    height: 200px;
    background-image: url(../../img/notfound.png);
    background-repeat: no-repeat;
    background-size: 260px;
    background-position-x: center;
  }
}

.more-info {
  &__row {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
  }
  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__title {
    width: 99.4%;
    font-style: normal;
    font-weight: 900;
    font-size: 33px;
    line-height: 53px;
    text-align: center;
    letter-spacing: -0.02em;
    color: $black;
  }
  &__summary {
    margin-top: 23px;
    font-style: normal;
    font-weight: 900;
    font-size: 17px;
    line-height: 32px;
    text-align: center;
    color: $gray-700;
  }
  &__user-container {
    width: 98%;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    &__data {
      display: flex;
      align-items: center;
      &__avatar {
        width: 36px;
        height: 36px;
        border-radius: 50%;
        margin-right: 12px;
        background-image: url(https://www.placeimg.com/36/36);
      }
      &__data {
        display: flex;
        flex-direction: column;
        justify-content: center;
      }
      &__name {
        font-style: normal;
        font-weight: 900;
        font-size: 12px;
        line-height: 14px;
        letter-spacing: 0.07em;
        text-transform: uppercase;
        color: $black;
      }
      &__publish, &__date {
        margin-top: 4px;
        font-style: normal;
        font-weight: 900;
        font-size: 9px;
        line-height: 14px;
        color: $gray-700;
        opacity: 0.7;
      }
    }
    &__social {
      margin-top: 20px;
      width: 160px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      &__share {
        font-style: normal;
        font-weight: 900;
        font-size: 12px;
        line-height: 14px;
        color: $gray-600;
      }
    }
  }
  &__image {
    width: 98%;
    height: 395px; //temporal mientras ajustamos
    margin-top: 45px;
    border-radius: 5px;
    background-image: url(https://placeimg.com/680/395);
    background-repeat: no-repeat;
    background-size: cover;
  }
  &__caption {
    margin-top: 15px;
    font-style: normal;
    font-weight: 900;
    font-size: 15px;
    line-height: 23px;
    color: $gray-600;
  }
  &__paragraph {
    width: 98%;
    margin-top: 36px;
    font-style: normal;
    font-weight: 900;
    font-size: 17px;
    line-height: 26px;
    color: $black;
  }
}

.load-more {
  margin-top: 95px;
  margin-bottom: 90px;
  &__container {
    padding: 0;
  }
  &__row {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    &__link {
      text-decoration: none;
      width: 100%;
      position: relative;
    }
    &__text {
      height: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
      border: 1px solid $gray-500;
      box-sizing: border-box;
      border-radius: 6px;
      font-style: normal;
      font-weight: 900;
      font-size: 17px;
      line-height: 26px;
      align-items: center;
      text-align: center;
      color: $primary;
    }
    &__icon {
      position: absolute;
      right: 25px;
      top: 19px;
    }
  }
}

@media only screen and (min-width: 500px) {

  .more-info {
    &__title {
      font-size: 43px;
    }
    &__summary {
      font-size: 21px;
    }
    &__user-container {
      flex-direction: row;
      margin-top: 65px;
      &__data {
        &__name {
          font-size: 12px;
        }
        &__publish, &__date {
          font-size: 12px;
        }
      }
      &__social {
        margin-top: 0;
        &__share {
          font-size: 12px;
        }
      }
    }
    &__image {
      margin-top: 75px;
    }
    &__caption {
      font-size: 15px;
    }
    &__paragraph {
      font-size: 17px;
      margin-top: 66px;
    }
  }

}

@media only screen and (min-width: 768px) {
  
  .card:nth-child(odd) {
    margin-right: 50px;
  }

  .card {
    height: 490px;
    box-shadow: 0px 24px 64px rgba(22, 27, 45, 0.05);
    margin: 20px 10px 33px 10px;
    border-radius: 8px;
    background-color: white;
  }
  
  .card-top {
    position: relative;
    height: 205.59px;
    background-image: url(https://placeimg.com/300/150);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 8px 8px 0px 0px;
    clip-path: polygon(82% 91%, 64% 95%, 46% 97%, 30% 98%, 16% 98%, 0 97%, 0 0, 100% 0, 100% 85%);
    height: 45%;
    &__star {
      position: absolute;
      top: 16px;
      right: 13px;
      cursor: pointer;
    }
    &__price {
      position: absolute;
      top: 18px;
      left: 13px;
      padding: 5px;
      border-radius: 20px;
      width: 80px;
      height: 21px;
      text-align: center;
      line-height: 23px;
      color: white;
      font-size: 12px;
      font-weight: 900;
      background-color: tomato;
    }
  }
  
  .card-bottom {
    padding: 0px 40px 0px 25.71px;
    margin-top: 31.41px;
    height: 150px;
    &__title {
      color: $black;
      font-style: normal;
      font-size: 21px;
      font-weight: 900;
      line-height: 28px;
      letter-spacing: -0.01em;
    }
    &__text {
      margin-top: 8px;
      color: $gray-650;
      font-style: normal;
      font-size: 16px;
      font-weight: 400;
      line-height: 24,37px;
      height: 130px;
    }
  }
  
  .card-footer {
    margin-top: 60px;
    display: flex;
    align-items: center;
    position: relative;
    bottom: 65px;
    &__author {
      position: absolute;
      left: 0;
      display: flex;
      align-items: center;
    }
    &__avatar {
      width: 30px;
      height: 30px;
      border-radius: 50%;
      background-image: url(https://placeimg.com/300/150);
    }
    &__name {
      margin-left: 10px;
      color: $gray-650;
      font-style: normal;
      font-weight: 900;
      font-size: 12px;
      line-height: 14px;
      letter-spacing: 0.07em;
      text-transform: uppercase;
    }
    &__date {
      position: absolute;
      right: 0;
      color: $gray-650;
      font-style: normal;
      font-weight: 900;
      font-size: 12px;
      line-height: 14px;
      text-align: center;
      letter-spacing: 0.07em;
      text-transform: uppercase;
    }
    &::before {
      content: '';
      width: 100%;
      height: 2px;
      background: rgb(240, 240, 240);
      transform: translateY(-35px);
    }
  }

}

@media only screen and (min-width: 1200px) {

  .cards-container {
    margin-top: 200px;
    .card-wrapper {
      justify-content: space-between;
    }
  
  }

  .card {
    width: 29%;
    margin-left: 0;
    &:nth-child(odd) {
      margin-right: 0;
    }
    &:nth-child(even) {
      margin-right: 0;
    }
  }

  .not-found {
    height: 563px;
    &__text {
      position: absolute;
      margin-top: 160px;
      width: fit-content;
      right: 65%;
      transform: translateY(50%);
    }
    &__info {
      width: 300px;
    }
    &__image {
      position: absolute;
      margin-top: 160px;
      width: 590px;
      height: 380px;
      background-size: 590px;
      right: 0;
    }
  }

  .more-info {
    margin-top: -30px;
  }

}