// general colors.
$primary: #335EEA;
$black: #161C2D;
$black-blue: #12263F;

// gray tone colors.
$light-gray: #E5E5E5;
$gray-400: #D9E2EF;
$gray-500: #9FACC6;
$gray-600: #869AB8;
$gray-650: #6B7C93;
$gray-700: #506690;